body 
{ 
	font-family : Verdana, Tahoma, sans-serif;
	font-size : 12px;
	margin-left:0px; 
	margin-right:0px; 
	margin-top:20px; 
	margin-bottom:20px;
}

a 
{ 
	text-decoration:none; 
	color:#000000; 
}

a:visited
{
	text-decoration : none;
	color:#000000; 
}

a:hover
{
	text-decoration : none;
	color:#ff0000;
}

td.reiter 
{ 
	font-family: Verdana, Tahoma, sans-serif; 
	font-size: 14px; 
}

td 
{ 
	font-family: Verdana, Tahoma, sans-serif; 
	font-size: 12px; 
}

h1
{
	font-family : Verdana, Tahoma, sans-serif;
	font-size : 22px;
	margin-top: 20px; 
	margin-bottom: 10px; 
}

ul
{
	margin-top: 0px; 
	margin-bottom: 0px; 
}

.klein
{
	font-family : Verdana, Tahoma, sans-serif;
	font-size : 12px;
	color : #000000;
	text-decoration : none;
}
